<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Welcome to Spring Web MVC</h1>
	<hr />


	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Flight Number</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Flight Date</th>
				<th>Flight Time</th>
			</tr>
		</thead>
		
		<tbody>
			<tr>
				<td th:text="${flight.id}"></td>
				<td th:text="${flight.flightNumber}"></td>
				<td th:text="${flight.origin}"></td>
				<td th:text="${flight.destination}"></td>
				<td th:text="${flight.flightDate}"></td>
				<td th:text="${flight.flightTime}"></td>
			</tr>
		</tbody>


	</table>


</body>
</html>